.login-container {
  height: 100%;
  width: 100%;
  align-self: flex-start;
  justify-items: center;
  align-items: center;
  background-image: url('../../images/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.login-logo {
  padding-top: 40px;
  width: 20%;
}

.loginForm {
  position: absolute;
  width: 530px;
  height: auto;
  padding: 30px, 20px;
  box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.05);
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

.field {
  border-bottom: 2px solid #f5f5f5;
  margin: 30px;
  padding: 10px 10px;
}
.field:focus {
  border-bottom: 2px solid #0056d0;
  /* margin: 30px;
  padding: 10px 10px; */
}

.username {
  width: 100%;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 16px;
  height: 25px;
  background: none;
}
.password {
  width: 100%;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 16px;
  height: 25px;
  background: none;
}
.button {
  font-weight: bold;
  letter-spacing: 2px;
  color: #ffffff;
  cursor: pointer;
  outline: 0;
  outline: none;
  margin: 40px 0;
  font-size: 14px;
  width: 80%;
  height: 56px;
  border-radius: 4px;
  border: none;
  background-color: #0056d0;
}
