/* NoticeList */
.NoticeList h1 {
  color: #ffffff;
  text-align: center;
}

/* NoticeWrite */
.NoticeWrite form {
  padding: 30px;
}
.NoticeWrite td {
  padding: 20px;
}
.NoticeWrite th {
  block-size: 50px;
}
.NoticeWrite input {
  width : 100%;
}
.NoticeWrite textarea {
  width: 100%;
}
.NoticeWrite table {
  width: 100%;
  border-top: #1A90D8 2px solid;
  border-bottom: #BABABA 1px solid;
  border-collapse: collapse;
}
.NoticeWrite table td {
  padding-left: 2px;
  padding-right:2px;
  height: 20px;
}